In [1]:
import pandas as pd
import numpy as np

In [2]:
batting = pd.read_csv('/Users/anthonyzippay/Documents/DataScienceCoursework/FinalProject-Baseball/baseballdatabank-master/core/Batting.csv')

In [3]:
salaries = pd.read_csv('/Users/anthonyzippay/Documents/DataScienceCoursework/FinalProject-Baseball/baseballdatabank-master/core/Salaries.csv')

In [4]:
fielding = pd.read_csv('/Users/anthonyzippay/Documents/DataScienceCoursework/FinalProject-Baseball/baseballdatabank-master/core/Fielding.csv')

In [5]:
people = pd.read_csv('/Users/anthonyzippay/Documents/DataScienceCoursework/FinalProject-Baseball/baseballdatabank-master/core/People.csv')

In [6]:
peoplesalary = people.merge(salaries, on="playerID")

In [7]:
peoplesalary.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,salary
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2004,SFN,NL,300000
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2007,CHA,AL,387500
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2008,BOS,AL,403250
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2009,SEA,AL,419000
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2010,SEA,AL,2750000

In [8]:
fieldingbatting = fielding.merge(batting, on="playerID")

In [9]:
bigball_df = peoplesalary.merge(fieldingbatting, on="playerID")

In [10]:
bigball_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5840774 entries, 0 to 5840773
Data columns (total 66 columns):
 #   Column        Dtype
---  ------        -----
 0   playerID      object
 1   birthYear     float64
 2   birthMonth    float64
 3   birthDay      float64
 4   birthCountry  object
 5   birthState    object
 6   birthCity     object
 7   deathYear     float64
 8   deathMonth    float64
 9   deathDay      float64
 10  deathCountry  object
 11  deathState    object
 12  deathCity     object
 13  nameFirst     object
 14  nameLast      object
 15  nameGiven     object
 16  weight        float64
 17  height        float64
 18  bats          object
 19  throws        object
 20  debut         object
 21  finalGame     object
 22  retroID       object
 23  bbrefID       object
 24  yearID        int64
 25  teamID        object
 26  lgID          object
 27  salary        int64
 28  yearID_x      int64
 29  stint_x       int64
 30  teamID_x      object
 31  lgID_x        object
 32  POS           object
 33  G_x           int64
 34  GS            float64
 35  InnOuts       float64
 36  PO            int64
 37  A             int64
 38  E             float64
 39  DP            int64
 40  PB            float64
 41  WP            float64
 42  SB_x          float64
 43  CS_x          float64
 44  ZR            float64
 45  yearID_y      int64
 46  stint_y       int64
 47  teamID_y      object
 48  lgID_y        object
 49  G_y           int64
 50  AB            int64
 51  R             int64
 52  H             int64
 53  2B            int64
 54  3B            int64
 55  HR            int64
 56  RBI           float64
 57  SB_y          float64
 58  CS_y          float64
 59  BB            int64
 60  SO            float64
 61  IBB           float64
 62  HBP           float64
 63  SH            float64
 64  SF            float64
 65  GIDP          float64
dtypes: float64(25), int64(18), object(23)
memory usage: 2.9+ GB

In [11]:
bigball_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'yearID', 'teamID', 'lgID', 'salary', 'yearID_x',
       'stint_x', 'teamID_x', 'lgID_x', 'POS', 'G_x', 'GS', 'InnOuts', 'PO',
       'A', 'E', 'DP', 'PB', 'WP', 'SB_x', 'CS_x', 'ZR', 'yearID_y', 'stint_y',
       'teamID_y', 'lgID_y', 'G_y', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'SB_y', 'CS_y', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [12]:
bigball_df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,RBI,SB_y,CS_y,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
sorted(bigball_df)

['2B',
 '3B',
 'A',
 'AB',
 'BB',
 'CS_x',
 'CS_y',
 'DP',
 'E',
 'GIDP',
 'GS',
 'G_x',
 'G_y',
 'H',
 'HBP',
 'HR',
 'IBB',
 'InnOuts',
 'PB',
 'PO',
 'POS',
 'R',
 'RBI',
 'SB_x',
 'SB_y',
 'SF',
 'SH',
 'SO',
 'WP',
 'ZR',
 'bats',
 'bbrefID',
 'birthCity',
 'birthCountry',
 'birthDay',
 'birthMonth',
 'birthState',
 'birthYear',
 'deathCity',
 'deathCountry',
 'deathDay',
 'deathMonth',
 'deathState',
 'deathYear',
 'debut',
 'finalGame',
 'height',
 'lgID',
 'lgID_x',
 'lgID_y',
 'nameFirst',
 'nameGiven',
 'nameLast',
 'playerID',
 'retroID',
 'salary',
 'stint_x',
 'stint_y',
 'teamID',
 'teamID_x',
 'teamID_y',
 'throws',
 'weight',
 'yearID',
 'yearID_x',
 'yearID_y']

In [14]:
selectStats_df = bigball_df[['salary', 'nameFirst', 'nameLast', 'POS', 'G_x', 'GS', 'InnOuts', 'PO',
       'A', 'E', 'DP', 'PB', 'WP', 'SB_x', 'CS_x', 'ZR', 'yearID_y', 'stint_y',
       'teamID_y', 'lgID_y', 'G_y', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'SB_y', 'CS_y', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP']]

In [15]:
selectStats_df.head()

,salary,nameFirst,nameLast,POS,G_x,GS,InnOuts,PO,A,E,...,RBI,SB_y,CS_y,BB,SO,IBB,HBP,SH,SF,GIDP
0,300000,David,Aardsma,P,11,0.0,32.0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,300000,David,Aardsma,P,11,0.0,32.0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,300000,David,Aardsma,P,11,0.0,32.0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,300000,David,Aardsma,P,11,0.0,32.0,0,0,0.0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,300000,David,Aardsma,P,11,0.0,32.0,0,0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
selectStats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5840774 entries, 0 to 5840773
Data columns (total 37 columns):
 #   Column     Dtype
---  ------     -----
 0   salary     int64
 1   nameFirst  object
 2   nameLast   object
 3   POS        object
 4   G_x        int64
 5   GS         float64
 6   InnOuts    float64
 7   PO         int64
 8   A          int64
 9   E          float64
 10  DP         int64
 11  PB         float64
 12  WP         float64
 13  SB_x       float64
 14  CS_x       float64
 15  ZR         float64
 16  yearID_y   int64
 17  stint_y    int64
 18  teamID_y   object
 19  lgID_y     object
 20  G_y        int64
 21  AB         int64
 22  R          int64
 23  H          int64
 24  2B         int64
 25  3B         int64
 26  HR         int64
 27  RBI        float64
 28  SB_y       float64
 29  CS_y       float64
 30  BB         int64
 31  SO         float64
 32  IBB        float64
 33  HBP        float64
 34  SH         float64
 35  SF         float64
 36  GIDP       float64
dtypes: float64(17), int64(15), object(5)
memory usage: 1.7+ GB

In [19]:
pd.set_option('display.max_rows', 500)

In [23]:
pd.set_option('display.max_columns', 500)

In [24]:
selectStats_df.corr()

,salary,G_x,GS,InnOuts,PO,A,E,DP,PB,WP,SB_x,CS_x,ZR,yearID_y,stint_y,G_y,AB,R,H,2B,3B,HR,RBI,SB_y,CS_y,BB,SO,IBB,HBP,SH,SF,GIDP
salary,1.000000,0.172305,0.208525,0.195385,0.135317,0.084882,0.104474,0.116976,0.119252,-0.115860,0.165007,0.118353,-0.231864,0.258686,-0.037770,0.134123,0.169343,0.205338,0.182192,0.194164,0.052362,0.261622,0.227057,0.075033,0.035462,0.196253,0.193827,0.180180,0.163051,-0.025671,0.145292,0.169110
G_x,0.172305,1.000000,0.932548,0.950501,0.654518,0.572847,0.693198,0.561189,0.652341,0.947219,0.859735,0.869238,0.996241,-0.008448,-0.042520,0.322056,0.349844,0.359081,0.354500,0.337060,0.234592,0.315311,0.345892,0.242674,0.241901,0.331923,0.304617,0.250102,0.225066,0.006016,0.278880,0.300086
GS,0.208525,0.932548,1.000000,0.996197,0.687053,0.606438,0.731564,0.595357,0.644385,0.967255,0.857387,0.867777,0.995921,-0.020111,-0.051961,0.383867,0.458418,0.457056,0.457573,0.436068,0.294907,0.395699,0.443288,0.291275,0.301680,0.423932,0.408951,0.307129,0.293822,0.061782,0.363566,0.396058
InnOuts,0.195385,0.950501,0.996197,1.000000,0.694909,0.607852,0.733483,0.600160,0.645786,0.959622,0.857736,0.870136,0.997785,-0.020914,-0.050030,0.395588,0.463612,0.461789,0.462848,0.440733,0.300883,0.397043,0.446616,0.295847,0.307405,0.427701,0.411675,0.308549,0.296547,0.052104,0.367416,0.400218
PO,0.135317,0.654518,0.687053,0.694909,1.000000,0.242008,0.417170,0.639757,0.618230,0.965031,0.826108,0.802074,0.995096,-0.008302,-0.040200,0.302356,0.347081,0.334816,0.347171,0.340336,0.144013,0.346791,0.371077,0.115526,0.140731,0.353056,0.325352,0.299923,0.246691,-0.033099,0.297256,0.337922
A,0.084882,0.572847,0.606438,0.607852,0.242008,1.000000,0.780849,0.761065,0.619008,0.934762,0.806202,0.918909,0.998201,-0.015819,-0.035709,0.242256,0.285888,0.263503,0.280262,0.259634,0.194067,0.142053,0.217366,0.166801,0.190855,0.215113,0.199162,0.096569,0.173002,0.179353,0.216111,0.251828
E,0.104474,0.693198,0.731564,0.733483,0.417170,0.780849,1.000000,0.622271,0.551476,0.922988,0.726710,0.713025,0.971038,-0.067994,-0.035995,0.291555,0.342781,0.327423,0.337290,0.316817,0.215447,0.261467,0.313919,0.191132,0.223195,0.295927,0.292208,0.199786,0.208229,0.084157,0.274418,0.305028
DP,0.116976,0.561189,0.595357,0.600160,0.639757,0.761065,0.622271,1.000000,0.502357,0.942905,0.675611,0.799644,1.000000,0.002470,-0.036188,0.278972,0.319165,0.307944,0.318762,0.305755,0.166463,0.242804,0.296171,0.128976,0.156304,0.296383,0.257270,0.198470,0.208206,0.094444,0.264627,0.293803
PB,0.119252,0.652341,0.644385,0.645786,0.618230,0.619008,0.551476,0.502357,1.000000,0.905759,0.634399,0.598624,0.943650,-0.056513,-0.043186,0.195942,0.213895,0.205886,0.210031,0.189902,0.139396,0.188244,0.207287,0.121679,0.140585,0.176801,0.194066,0.122104,0.114132,0.025918,0.146735,0.178337
WP,-0.115860,0.947219,0.967255,0.959622,0.965031,0.934762,0.922988,0.942905,0.905759,1.000000,0.957811,0.942905,0.942905,-0.090188,-0.057950,-0.075072,-0.077690,-0.108951,-0.077666,-0.063684,-0.028221,-0.080842,-0.056290,-0.096292,-0.064400,-0.133573,-0.096876,-0.045012,-0.096470,0.124709,0.000096,-0.082365
SB_x,0.165007,0.859735,0.857387,0.857736,0.826108,0.806202,0.726710,0.675611,0.634399,0.957811,1.000000,0.808107,0.986635,-0.105169,-0.055487,0.266313,0.284381,0.267919,0.282566,0.246278,0.144691,0.216374,0.262085,0.166485,0.179322,0.256140,0.190463,0.201707,0.175880,0.084660,0.197379,0.229969
CS_x,0.118353,0.869238,0.867777,0.870136,0.802074,0.918909,0.713025,0.799644,0.598624,0.942905,0.808107,1.000000,1.000000,-0.197072,-0.059419,0.259106,0.276178,0.246551,0.271015,0.228587,0.185999,0.174467,0.235039,0.175762,0.209940,0.212820,0.170967,0.173438,0.112523,0.142194,0.188923,0.242063
ZR,-0.231864,0.996241,0.995921,0.997785,0.995096,0.998201,0.971038,1.000000,0.943650,0.942905,0.986635,1.000000,1.000000,-0.075391,-0.028790,-0.162170,-0.186852,-0.216351,-0.196357,-0.169289,-0.114530,-0.181216,-0.185062,-0.135437,-0.118132,-0.211456,-0.137903,-0.172971,-0.161825,0.221598,-0.092545,-0.187314
yearID_y,0.258686,-0.008448,-0.020111,-0.020914,-0.008302,-0.015819,-0.067994,0.002470,-0.056513,-0.090188,-0.105169,-0.197072,-0.075391,1.000000,0.088056,-0.030704,-0.040065,-0.036549,-0.042843,0.003882,-0.128833,0.030693,-0.014517,-0.120480,-0.178395,-0.034590,0.053697,-0.062850,0.087052,-0.115968,-0.044197,0.000096
stint_y,-0.037770,-0.042520,-0.051961,-0.050030,-0.040200,-0.035709,-0.035995,-0.036188,-0.043186,-0.057950,-0.055487,-0.059419,-0.028790,0.088056,1.000000,-0.247363,-0.185685,-0.169576,-0.177860,-0.168546,-0.114198,-0.132836,-0.163550,-0.095616,-0.112249,-0.156511,-0.169091,-0.108363,-0.113550,-0.111565,-0.142512,-0.155027
G_y,0.134123,0.322056,0.383867,0.395588,0.302356,0.242256,0.291555,0.278972,0.195942,-0.075072,0.266313,0.259106,-0.162170,-0.030704,-0.247363,1.000000,0.941491,0.898174,0.927092,0.884589,0.605563,0.726404,0.869317,0.521153,0.609485,0.827901,0.838864,0.548428,0.592576,0.235918,0.751219,0.807310
AB,0.169343,0.349844,0.458418,0.463612,0.347081,0.285888,0.342781,0.319165,0.213895,-0.077690,0.284381,0.276178,-0.186852,-0.040065,-0.185685,0.941491,1.000000,0.958542,0.989099,0.943212,0.649621,0.772754,0.923079,0.568122,0.649803,0.860768,0.884091,0.564125,0.625688,0.250859,0.793801,0.857889
R,0.205338,0.359081,0.457056,0.461789,0.334816,0.263503,0.327423,0.307944,0.205886,-0.108951,0.267919,0.246551,-0.216351,-0.036549,-0.169576,0.898174,0.958542,1.000000,0.969492,0.931716,0.651414,0.833089,0.933630,0.612411,0.652112,0.904452,0.859505,0.601106,0.636802,0.184446,0.771444,0.798844
H,0.182192,0.354500,0.457573,0.462848,0.347171,0.280262,0.337290,0.318762,0.210031,-0.077666,0.282566,0.271015,-0.196357,-0.042843,-0.177860,0.927092,0.989099,0.969492,1.000000,0.953777,0.657074,0.779800,0.931374,0.575500,0.648671,0.859928,0.849174,0.586383,0.619159,0.218359,0.792469,0.853532
2B,0.194164,0.337060,0.436068,0.440733,0.340336,0.259634,0.316817,0.305755,0.189902,-0.063684,0.246278,0.228587,-0.169289,0.003882,-0.168546,0.884589,0.943212,0.931716,0.953777,1.000000,0.583119,0.777985,0.916612,0.494988,0.566678,0.831895,0.832049,0.574751,0.617772,0.155905,0.777619,0.824767
3B,0.052362,0.234592,0.294907,0.300883,0.144013,0.194067,0.215447,0.166463,0.139396,-0.028221,0.144691,0.185999,-0.114530,-0.128833,-0.114198,0.605563,0.649621,0.651414,0.657074,0.583119,1.000000,0.371014,0.526213,0.622578,0.637480,0.511674,0.521599,0.307376,0.341377,0.265652,0.466401,0.445255
HR,0.261622,0.315311,0.395699,0.397043,0.346791,0.142053,0.261467,0.242804,0.188244,-0.080842,0.216374,0.174467,-0.181216,0.030693,-0.132836,0.726404,0.772754,0.833089,0.779800,0.777985,0.371014,1.000000,0.920094,0.307846,0.357752,0.794931,0.815186,0.643269,0.573596,-0.068009,0.676674,0.685742
RBI,0.227057,0.345892,0.443288,0.446616,0.371077,0.217366,0.313919,0.296171,0.207287,-0.056290,0.262085,0.235039,-0.185062,-0.014517,-0.163550,0.869317,0.923079,0.933630,0.931374,0.916612,0.526213,0.920094,1.000000,0.427119,0.501677,0.864884,0.865331,0.647713,0.615955,0.070307,0.816922,0.827278
SB_y,0.075033,0.242674,0.291275,0.295847,0.115526,0.166801,0.191132,0.128976,0.121679,-0.096292,0.166485,0.175762,-0.135437,-0.120480,-0.095616,0.521153,0.568122,0.612411,0.575500,0.494988,0.622578,0.307846,0.427119,1.000000,0.807976,0.504157,0.448594,0.259596,0.326631,0.258108,0.374011,0.341557
CS_y,0.035462,0.241901,0.301680,0.307405,0.140731,0.190855,0.223195,0.156304,0.140585,-0.064400,0.179322,0.209940,-0.118132,-0.178395,-0.112249,0.609485,0.649803,0.652112,0.648671,0.566678,0.637480,0.357752,0.501677,0.807976,1.000000,0.555156,0.521841,0.295936,0.363816,0.307023,0.449133,0.442061
BB,0.196253,0.331923,0.423932,0.427701,0.353056,0.215113,0.295927,0.296383,0.176801,-0.133573,0.256140,0.212820,-0.211456,-0.034590,-0.156511,0.827901,0.860768,0.904452,0.859928,0.831895,0.511674,0.794931,0.864884,0.504157,0.555156,1.000000,0.818088,0.687769,0.569298,0.118594,0.710944,0.721955
SO,0.193827,0.304617,0.408951,0.411675,0.325352,0.199162,0.292208,0.257270,0.194066,-0.096876,0.190463,0.170967,-0.137903,0.053697,-0.169091,0.838864,0.884091,0.859505,0.849174,0.832049,0.521599,0.815186,0.865331,0.448594,0.521841,0.818088,1.000000,0.502156,0.611395,0.158391,0.683904,0.731249
IBB,0.180180,0.250102,0.307129,0.308549,0.299923,0.096569,0.199786,0.198470,0.122104,-0.045012,0.201707,0.173438,-0.172971,-0.062850,-0.108363,0.548428,0.564125,0.601106,0.586383,0.574751,0.307376,0.643269,0.647713,0.259596,0.295936,0.687769,0.502156,1.000000,0.352864,-0.040937,0.502991,0.501010
HBP,0.163051,0.225066,0.293822,0.296547,0.246691,0.173002,0.208229,0.208206,0.114132,-0.096470,0.175880,0.112523,-0.161825,0.087052,-0.113550,0.592576,0.625688,0.636802,0.619159,0.617772,0.341377,0.573596,0.615955,0.326631,0.363816,0.569298,0.611395,0.352864,1.000000,0.099143,0.496389,0.526161
SH,-0.025671,0.006016,0.061782,0.052104,-0.033099,0.179353,0.084157,0.094444,0.025918,0.124709,0.084660,0.142194,0.221598,-0.115968,-0.111565,0.235918,0.250859,0.184446,0.218359,0.155905,0.265652,-0.068009,0.070307,0.258108,0.307023,0.118594,0.158391,-0.040937,0.099143,1.000000,0.121543,0.139970
SF,0.145292,0.278880,0.363566,0.367416,0.297256,0.216111,0.274418,0.264627,0.146735,0.000096,0.197379,0.188923,-0.092545,-0.044197,-0.142512,0.751219,0.793801,0.771444,0.792469,0.777619,0.466401,0.676674,0.816922,0.374011,0.449133,0.710944,0.683904,0.502991,0.496389,0.121543,1.000000,0.708728
GIDP,0.169110,0.300086,0.396058,0.400218,0.337922,0.251828,0.305028,0.293803,0.178337,-0.082365,0.229969,0.242063,-0.187314,0.000096,-0.155027,0.807310,0.857889,0.798844,0.853532,0.824767,0.445255,0.685742,0.827278,0.341557,0.442061,0.721955,0.731249,0.501010,0.526161,0.139970,0.708728,1.000000

Variables with .7 or higher, GS-G_x, A-E, CS_x-PB, SB_x-PO