In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [10]:
warBat = pd.read_csv('/Users/anthonyzippay/Desktop/BaseballData/warBatNA')

In [11]:
warBat.head()

,Unnamed: 0,name_common,age,mlb_ID,playerID,year_ID,team_ID,stint_ID,lg_ID,PA,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
0,1,David Aardsma,22,430911,aardsda01,2004,SFG,1,NL,0.0,...,4.67092,1.890,1.890,0.500,0.500,0.5,0.5000,NaN,0.000,0.000
1,2,David Aardsma,24,430911,aardsda01,2006,CHC,1,NL,3.0,...,4.86457,1.912,1.913,0.499,0.499,0.5,0.4998,-100.0,0.694,0.896
2,3,David Aardsma,25,430911,aardsda01,2007,CHW,1,AL,0.0,...,4.85895,1.912,1.912,0.500,0.500,0.5,0.5000,NaN,0.000,0.000
3,4,David Aardsma,26,430911,aardsda01,2008,BOS,1,AL,1.0,...,4.69650,1.893,1.894,0.497,0.497,0.5,0.4992,-100.0,0.345,0.434
4,5,David Aardsma,27,430911,aardsda01,2009,SEA,1,AL,0.0,...,4.79788,1.905,1.905,0.500,0.500,0.5,0.5000,NaN,0.000,0.000

In [12]:
warBat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          49719 non-null  int64
 1   name_common         49719 non-null  object
 2   age                 49719 non-null  int64
 3   mlb_ID              49719 non-null  int64
 4   playerID            49719 non-null  object
 5   year_ID             49719 non-null  int64
 6   team_ID             49719 non-null  object
 7   stint_ID            49719 non-null  int64
 8   lg_ID               49719 non-null  object
 9   PA                  49550 non-null  float64
 10  G                   49719 non-null  int64
 11  Inn                 49719 non-null  float64
 12  runs_bat            49719 non-null  float64
 13  runs_br             49719 non-null  float64
 14  runs_dp             49719 non-null  float64
 15  runs_field          49719 non-null  float64
 16  runs_infield        49719 non-null  int64
 17  runs_outfield       49719 non-null  int64
 18  runs_catcher        49719 non-null  int64
 19  runs_good_plays     23800 non-null  float64
 20  runs_defense        49719 non-null  float64
 21  runs_position       49550 non-null  float64
 22  runs_position_p     49719 non-null  float64
 23  runs_replacement    49550 non-null  float64
 24  runs_above_rep      49550 non-null  float64
 25  runs_above_avg      49550 non-null  float64
 26  runs_above_avg_off  49550 non-null  float64
 27  runs_above_avg_def  49550 non-null  float64
 28  WAA                 43321 non-null  float64
 29  WAA_off             43321 non-null  float64
 30  WAA_def             43321 non-null  float64
 31  WAR                 43321 non-null  float64
 32  WAR_def             43321 non-null  float64
 33  WAR_off             43321 non-null  float64
 34  WAR_rep             43321 non-null  float64
 35  Salary              29569 non-null  float64
 36  pitcher             49719 non-null  object
 37  teamRpG             43321 non-null  float64
 38  oppRpG              49719 non-null  float64
 39  oppRpPA_rep         49719 non-null  float64
 40  oppRpG_rep          43321 non-null  float64
 41  pyth_exponent       43321 non-null  float64
 42  pyth_exponent_rep   43321 non-null  float64
 43  waa_win_perc        43321 non-null  float64
 44  waa_win_perc_off    43321 non-null  float64
 45  waa_win_perc_def    43321 non-null  float64
 46  waa_win_perc_rep    43321 non-null  float64
 47  OPS_plus            36632 non-null  float64
 48  TOB_lg              49719 non-null  float64
 49  TB_lg               49719 non-null  float64
dtypes: float64(36), int64(9), object(5)
memory usage: 19.0+ MB

In [39]:
list(warBat)

['Unnamed: 0',
 'name_common',
 'age',
 'mlb_ID',
 'playerID',
 'year_ID',
 'team_ID',
 'stint_ID',
 'lg_ID',
 'PA',
 'G',
 'Inn',
 'runs_bat',
 'runs_br',
 'runs_dp',
 'runs_field',
 'runs_infield',
 'runs_outfield',
 'runs_catcher',
 'runs_good_plays',
 'runs_defense',
 'runs_position',
 'runs_position_p',
 'runs_replacement',
 'runs_above_rep',
 'runs_above_avg',
 'runs_above_avg_off',
 'runs_above_avg_def',
 'WAA',
 'WAA_off',
 'WAA_def',
 'WAR',
 'WAR_def',
 'WAR_off',
 'WAR_rep',
 'Salary',
 'pitcher',
 'teamRpG',
 'oppRpG',
 'oppRpPA_rep',
 'oppRpG_rep',
 'pyth_exponent',
 'pyth_exponent_rep',
 'waa_win_perc',
 'waa_win_perc_off',
 'waa_win_perc_def',
 'waa_win_perc_rep',
 'OPS_plus',
 'TOB_lg',
 'TB_lg']

### Data Wrangling

In [33]:
warBat1 = warBat.drop(columns=['playerID', 'team_ID', 'name_common', 'lg_ID', 'pitcher'])

In [34]:
warBat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          49719 non-null  int64
 1   age                 49719 non-null  int64
 2   mlb_ID              49719 non-null  int64
 3   year_ID             49719 non-null  int64
 4   stint_ID            49719 non-null  int64
 5   PA                  49550 non-null  float64
 6   G                   49719 non-null  int64
 7   Inn                 49719 non-null  float64
 8   runs_bat            49719 non-null  float64
 9   runs_br             49719 non-null  float64
 10  runs_dp             49719 non-null  float64
 11  runs_field          49719 non-null  float64
 12  runs_infield        49719 non-null  int64
 13  runs_outfield       49719 non-null  int64
 14  runs_catcher        49719 non-null  int64
 15  runs_good_plays     23800 non-null  float64
 16  runs_defense        49719 non-null  float64
 17  runs_position       49550 non-null  float64
 18  runs_position_p     49719 non-null  float64
 19  runs_replacement    49550 non-null  float64
 20  runs_above_rep      49550 non-null  float64
 21  runs_above_avg      49550 non-null  float64
 22  runs_above_avg_off  49550 non-null  float64
 23  runs_above_avg_def  49550 non-null  float64
 24  WAA                 43321 non-null  float64
 25  WAA_off             43321 non-null  float64
 26  WAA_def             43321 non-null  float64
 27  WAR                 43321 non-null  float64
 28  WAR_def             43321 non-null  float64
 29  WAR_off             43321 non-null  float64
 30  WAR_rep             43321 non-null  float64
 31  Salary              29569 non-null  float64
 32  teamRpG             43321 non-null  float64
 33  oppRpG              49719 non-null  float64
 34  oppRpPA_rep         49719 non-null  float64
 35  oppRpG_rep          43321 non-null  float64
 36  pyth_exponent       43321 non-null  float64
 37  pyth_exponent_rep   43321 non-null  float64
 38  waa_win_perc        43321 non-null  float64
 39  waa_win_perc_off    43321 non-null  float64
 40  waa_win_perc_def    43321 non-null  float64
 41  waa_win_perc_rep    43321 non-null  float64
 42  OPS_plus            36632 non-null  float64
 43  TOB_lg              49719 non-null  float64
 44  TB_lg               49719 non-null  float64
dtypes: float64(36), int64(9)
memory usage: 17.1 MB

### Decision Tree Setup

In [35]:
warBat1.dropna()

,Unnamed: 0,age,mlb_ID,year_ID,stint_ID,PA,G,Inn,runs_bat,runs_br,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
3,4,26,430911,2008,1,1.0,5,48.7,-0.29,0.00,...,4.69650,1.893,1.894,0.4970,0.4970,0.5000,0.4992,-100.0000,0.345,0.434
21,55,33,407577,2006,1,5.0,5,0.0,-0.29,-0.08,...,4.83558,1.909,1.911,0.4929,0.4929,0.5002,0.4969,14.8106,1.742,1.349
24,58,26,472551,2012,1,7.0,36,46.0,-1.22,-0.01,...,4.28341,1.844,1.845,0.4987,0.4987,0.5000,0.4993,-21.7251,2.286,2.896
79,157,25,430631,2006,1,281.0,111,620.7,-13.09,-1.27,...,4.78784,1.907,1.908,0.4862,0.4897,0.4972,0.4922,57.6658,93.100,110.236
85,164,25,150466,2003,1,7.0,2,15.0,-2.00,0.19,...,4.77262,1.872,1.910,0.4698,0.4196,0.5525,0.4870,-100.0000,2.290,2.934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49696,107010,23,572287,2014,1,476.0,131,1130.0,-9.51,-1.90,...,4.00246,1.823,1.817,0.4893,0.4960,0.5003,0.4855,87.6224,147.560,167.579
49697,107011,24,572287,2015,1,386.0,112,919.7,-25.09,-0.30,...,4.18052,1.837,1.839,0.4806,0.4816,0.5056,0.4866,48.0738,117.860,141.400
49699,107013,26,572287,2017,1,435.0,124,1012.0,12.51,-1.86,...,4.56970,1.901,1.886,0.5150,0.5141,0.5068,0.4872,125.2748,138.287,162.617
49700,107014,27,572287,2018,1,405.0,113,930.7,-8.80,-1.37,...,4.45023,1.878,1.872,0.5035,0.4962,0.5135,0.4867,84.5961,125.914,151.177
49701,107015,28,572287,2019,1,289.0,90,689.7,-20.85,-0.28,...,4.84100,1.912,1.916,0.4872,0.4818,0.5109,0.4888,44.4700,92.278,115.497

In [61]:
warBat1.replace([np.inf, -np.inf], np.nan, inplace=True)

In [62]:
warBat1.fillna(warBat1.mean(), inplace=True)

In [66]:
x = warBat1.drop('age', axis=1)
y = warBat1['age']

In [67]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=76)

In [68]:
decisionTree = DecisionTreeClassifier(random_state=76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=76, splitter='best')

the decision tree classifier ran but I had to replace na with meean values not sure if this was a bad idea or not or how this might have affected the test data

In [55]:
treePredictions = decisionTree.predict(x_test)
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,treePredictions))
print(classification_report(y_test,treePredictions))

[[  0   0   2   0   3   2   1   3   2   0   0   0   0   0   0   0   0   1
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   1   3  11   7   3  10   5   1   4   0   2   0   0   1   0   1   0
    1   1   0   1   0   0   0   0   0   0   0   0]
 [  1   1  13  21  35  29  34  17  15   8  10   7   1   1   4   1   0   2
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  2   8  29  63  76  71  66  64  45  13  13   9   6   3   3   4   2   1
    2   1   1   1   0   0   0   0   0   0   0   0]
 [  2   9  29  84 117 154 141 114  74  52  32  25   8  12   6   4   6   1
    2   1   1   0   2   0   0   0   0   0   0   0]
 [  0  13  35  63 134 243 214 150 135  84  48  28  20  18  17   9   9   6
    2   0   2   0   1   1   0   0   0   0   0   0]
 [  0  20  31  86 126 201 298 222 158 137  87  31  33  22  18  17   9   8
    3   3   0   3   0   1   0   0   0   0   0   0]
 [  2   4  25  71 113 179 215 259 212 147 112  78  42  36  27  15   8   8
    8   2   3   1   1   0   0   0   0   0   0   0]
 [  0   5  11  47  83 127 154 180 239 162 131  98  58  51  27  19  20  15
    9   2   4   0   0   0   1   0   0   0   0   0]
 [  0   4  11  22  50  84 146 142 160 197 150 119  81  53  43  41  19   8
   10  12   3   0   1   1   1   0   0   0   0   0]
 [  1   1   7  15  29  51  87 139 125 151 136 103  90  81  42  32  26  14
   11   9   7   3   4   4   2   1   0   1   0   1]
 [  0   1   6  12  16  27  37  59 107 105 132 100 119  88  50  45  20  26
   17   8   7   2   2   1   1   0   0   0   0   0]
 [  0   2   2   4  12  18  35  52  67  84  98 110  96  99  81  36  38  19
    9   4   3   5   4   3   1   0   0   3   0   0]
 [  0   0   4   4   9  15  25  32  45  52  77  71  78  88  91  35  26  32
   13   9   7   5   4   5   2   0   0   0   0   0]
 [  0   0   1   4   4   6  17  31  29  52  65  62  65  72  65  39  37  18
   18   7   6   4   3   0   0   0   0   0   0   0]
 [  0   0   1   6   6  10  13  24  21  33  47  42  48  71  57  44  28  23
   11  13   6   5   3   1   1   0   0   0   0   0]
 [  0   0   3   3   5   6  10  16  20  18  27  31  20  41  44  35  33  36
   15   8   9   3   1   1   0   0   1   1   0   0]
 [  0   2   0   0   3   5   7  13  15  21  19  14  21  27  32  27  29  19
   17  13   6   4   2   1   2   0   2   0   0   0]
 [  0   0   0   1   4   4   3   3   7  14   9  16  17  23  18  16  19  22
   11  10   3   1   1   1   1   0   1   0   0   0]
 [  0   0   0   2   1   4   4   5   9   6   9   9   9  10   7  13  13  12
   16   5   2   1   3   1   3   0   0   0   0   1]
 [  0   0   1   0   4   2   2   1   3   5   2  11   3   6   5   7   8   5
    7   4   5   6   3   0   0   0   1   0   0   0]
 [  0   0   0   0   1   1   0   0   2   2   2   2   2   3   5   4   4   5
    4   6   5   3   0   4   0   0   0   0   0   0]
 [  0   0   0   0   0   0   3   0   1   2   3   2   5   0   5   1   2   3
    3   4   4   3   1   1   1   0   0   0   0   0]
 [  0   0   0   1   0   1   0   0   0   2   2   2   0   0   4   4   2   1
    4   2   0   0   0   1   1   0   0   0   0   0]
 [  0   0   0   0   0   1   1   1   0   0   0   0   1   1   0   0   2   4
    0   0   1   1   0   1   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   1   0   1   0   1   1   1
    0   0   1   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   2   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]]
              precision    recall  f1-score   support

          19       0.00      0.00      0.00        14
          20       0.01      0.02      0.02        52
          21       0.06      0.07      0.06       200
          22       0.12      0.13      0.13       483
          23       0.14      0.13      0.14       876
          24       0.20      0.20      0.20      1232
          25       0.20      0.20      0.20      1514
          26       0.17      0.17      0.17      1568
          27       0.16      0.17      0.16      1443
          28       0.15      0.15      0.15      1358
          29       0.11      0.12      0.11      1173
          30       0.10      0.10      0.10       988
          31       0.12      0.11      0.11       885
          32       0.11      0.12      0.11       729
          33       0.10      0.11      0.10       605
          34       0.10      0.09      0.09       514
          35       0.09      0.09      0.09       387
          36       0.07      0.06      0.06       301
          37       0.06      0.05      0.06       205
          38       0.04      0.03      0.04       145
          39       0.06      0.05      0.06        91
          40       0.06      0.05      0.06        55
          41       0.03      0.02      0.02        44
          42       0.04      0.04      0.04        27
          43       0.00      0.00      0.00        14
          44       0.00      0.00      0.00         7
          45       0.00      0.00      0.00         2
          46       0.00      0.00      0.00         2
          47       0.00      0.00      0.00         0
          48       0.00      0.00      0.00         2

    accuracy                           0.14     14916
   macro avg       0.08      0.08      0.08     14916
weighted avg       0.14      0.14      0.14     14916

/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [56]:
print(confusion_matrix(y_test, treePredictions))

[[  0   0   2   0   3   2   1   3   2   0   0   0   0   0   0   0   0   1
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   1   3  11   7   3  10   5   1   4   0   2   0   0   1   0   1   0
    1   1   0   1   0   0   0   0   0   0   0   0]
 [  1   1  13  21  35  29  34  17  15   8  10   7   1   1   4   1   0   2
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  2   8  29  63  76  71  66  64  45  13  13   9   6   3   3   4   2   1
    2   1   1   1   0   0   0   0   0   0   0   0]
 [  2   9  29  84 117 154 141 114  74  52  32  25   8  12   6   4   6   1
    2   1   1   0   2   0   0   0   0   0   0   0]
 [  0  13  35  63 134 243 214 150 135  84  48  28  20  18  17   9   9   6
    2   0   2   0   1   1   0   0   0   0   0   0]
 [  0  20  31  86 126 201 298 222 158 137  87  31  33  22  18  17   9   8
    3   3   0   3   0   1   0   0   0   0   0   0]
 [  2   4  25  71 113 179 215 259 212 147 112  78  42  36  27  15   8   8
    8   2   3   1   1   0   0   0   0   0   0   0]
 [  0   5  11  47  83 127 154 180 239 162 131  98  58  51  27  19  20  15
    9   2   4   0   0   0   1   0   0   0   0   0]
 [  0   4  11  22  50  84 146 142 160 197 150 119  81  53  43  41  19   8
   10  12   3   0   1   1   1   0   0   0   0   0]
 [  1   1   7  15  29  51  87 139 125 151 136 103  90  81  42  32  26  14
   11   9   7   3   4   4   2   1   0   1   0   1]
 [  0   1   6  12  16  27  37  59 107 105 132 100 119  88  50  45  20  26
   17   8   7   2   2   1   1   0   0   0   0   0]
 [  0   2   2   4  12  18  35  52  67  84  98 110  96  99  81  36  38  19
    9   4   3   5   4   3   1   0   0   3   0   0]
 [  0   0   4   4   9  15  25  32  45  52  77  71  78  88  91  35  26  32
   13   9   7   5   4   5   2   0   0   0   0   0]
 [  0   0   1   4   4   6  17  31  29  52  65  62  65  72  65  39  37  18
   18   7   6   4   3   0   0   0   0   0   0   0]
 [  0   0   1   6   6  10  13  24  21  33  47  42  48  71  57  44  28  23
   11  13   6   5   3   1   1   0   0   0   0   0]
 [  0   0   3   3   5   6  10  16  20  18  27  31  20  41  44  35  33  36
   15   8   9   3   1   1   0   0   1   1   0   0]
 [  0   2   0   0   3   5   7  13  15  21  19  14  21  27  32  27  29  19
   17  13   6   4   2   1   2   0   2   0   0   0]
 [  0   0   0   1   4   4   3   3   7  14   9  16  17  23  18  16  19  22
   11  10   3   1   1   1   1   0   1   0   0   0]
 [  0   0   0   2   1   4   4   5   9   6   9   9   9  10   7  13  13  12
   16   5   2   1   3   1   3   0   0   0   0   1]
 [  0   0   1   0   4   2   2   1   3   5   2  11   3   6   5   7   8   5
    7   4   5   6   3   0   0   0   1   0   0   0]
 [  0   0   0   0   1   1   0   0   2   2   2   2   2   3   5   4   4   5
    4   6   5   3   0   4   0   0   0   0   0   0]
 [  0   0   0   0   0   0   3   0   1   2   3   2   5   0   5   1   2   3
    3   4   4   3   1   1   1   0   0   0   0   0]
 [  0   0   0   1   0   1   0   0   0   2   2   2   0   0   4   4   2   1
    4   2   0   0   0   1   1   0   0   0   0   0]
 [  0   0   0   0   0   1   1   1   0   0   0   0   1   1   0   0   2   4
    0   0   1   1   0   1   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   1   0   1   0   1   1   1
    0   0   1   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   2   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0]]

In [72]:
warBat1.to_csv('/Users/anthonyzippay/Desktop/warBat.csv')